*{
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
}
.Layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Open Sans';
    min-height: 100vh;
    background-color: #4f3bc6;
}
.container{
    padding: 0 5% 5%;
}