*{
    margin: 0;
    padding: 0;
}
.Layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Open Sans';
}
.container{
    padding: 0 5% 5%;
    background-color: #4f3bc6;
    min-height: 44rem;
}